.panel {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
  padding: 6px 16px;
  border: 1px solid lightgrey;
  .add-button {
    margin-left: auto;
  }
}

.daily-list-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  padding: 0 16px;
  border: 1px solid lightgrey;
}

.short {
  display: flex;
  align-items: center;
  padding: 14px 0;
}

.resume {
  display: flex;
  padding: 0 20px;
  .resume-item {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    .title {
      margin-bottom: 4px;
      color: grey;
      font-size: 14px;
    }
  }
}

.extended {
  padding: 20px 0;
}

.extended-table {
  .product {
    width: 120px;
  }
  .ccal {
    width: 80px;
  }
  .fat {
    width: 50px;
  }
  .carb {
    width: 50px;
  }
}

