<section class="summary">
  <ul class="daily-list">
    <li class="daily-list-item">
      <div class="short">
        <span class="date">21.09.2020</span>
        <ul class="resume">
          <li class="resume-item total">
            <span class="title">Ccal</span><span>2345</span>
          </li>
          <li class="resume-item total">
            <span class="title">Protein</span>
            <span>2345</span>
          </li>
          <li class="resume-item total">
            <span class="title">Fat</span>
            <span>340</span>
          </li>
          <li class="resume-item total">
            <span class="title">Carbohydrates</span>
            <span>340</span>
          </li>
        </ul>
      </div>
      <div class="extended">
        <table class="extended-table">
          <tr>
            <th class="product">Product</th>
            <th class="ccal">Ccal</th>
            <th class="protein">Protein</th>
            <th class="fat">Fat</th>
            <th class="carb">Carbohydrates</th>
          </tr>
          <tbody>
            <tr>
              <td>Tomato</td>
              <td>100</td>
              <td>100</td>
              <td>100</td>
              <td>100</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</section>
