<div>
  <form class="form"[formGroup]="form" (submit)="onSubmit($event)">
    <label for="email" class="form-label">
      <span>Email</span>
      <input type="email" placeholder="E-mail" formControlName="email" id="email">
      <span *ngIf="form.controls['email'].invalid && form.controls['email'].touched">Email invalid</span>
    </label>
    <label for="password" class="form-label">
      <span>Password</span>
      <input type="password" placeholder="Password" formControlName="password" id="password">
      <span *ngIf="form.controls['password'].invalid && form.controls['password'].touched">Password invalid</span>
    </label>
    <label for="password_confirmation" class="form-label">
      <span>Password Confirmation</span>
      <input type="password" placeholder="Password again" formControlName="passwordConfirmation" id="password_confirmation">
      <span *ngIf="isPasswordMatch">Password should be equal</span>
    </label>
    <button type="submit">Sign Up</button>
  </form>
  <ul class="auth-navigation">
    <li>
      <a [routerLink]="'/auth/reset'">Reset</a>
    </li>
    <li>
      <a [routerLink]="'/auth/login'">Login</a>
    </li>
  </ul>
</div>

