<section class="summary">
  <ul class="daily-list">
    <li class="daily-list-item">
      <div class="short">
        <span class="date">
          21.09.2020
        </span>
        <ul class="resume">
          <li class="resume-item total">
          <span class="title">
            Ccal
          </span>
            <span>
            2345
          </span>
          </li>
          <li class="resume-item total">
          <span class="title">
            Protein
          </span>
            <span>
            2345
          </span>
          </li>
          <li class="resume-item total">
            <span class="title">
              Fat
            </span>
            <span>
              340
            </span>
          </li>
          <li class="resume-item total">
            <span class="title">
              Carbohydrates
            </span>
              <span>
                340
            </span>
          </li>
        </ul>
      </div>
      <div class="extended">
        <table>
          <tr>
            <th>Product</th>
            <th>Ccal</th>
            <th>Protein</th>
            <th>Fat</th>
            <th>Carbohydrates</th>
          </tr>
          <tbody>
            <tr>
              <td>
                Product
              </td>
              <td>
                100
              </td>
              <td>
                100
              </td>
              <td>
                100
              </td>
              <td>
                100
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </li>
  </ul>
</section>
